.container {
    display: inline-flex;
    flex-direction: column;
    margin: 20px 20px;
}

.tooltip {
    display: none;
}

.container.active .tooltip {
    display: inline-block;
}

.tooltip-msg {
    margin: 5px 0;
    text-align: center;
}

.vnutText {
    margin: 0px 0px !important;
}

.zagolovok {
    margin-bottom: 4px !important;
}

.vnutText2 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

#myBtn2 {
    position: fixed;
}